/* CSS Document */

.row {
  max-width: 62.5rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #6497B1;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Lato' , sans-serif;
}

h2 {
    font-size: 1.125rem;
    color: #62bae0;
}

p {
    font-size: 1rem;
}

.content {
    margin-top: 30px;
}

.sub-nav {
    margin-top: 20px;
}

.sticky-container {
    min-height: calc(100vh - 57px);
}

.full-width {
    max-width: 100%;
}

@media screen and (min-width: 64em){
.large-10 
    {
    width: 83.33333%;
    margin: 0 5rem;
}
}