/* CSS Document */

.row {
  max-width: 62.5rem;
}

ul,
li {
    list-style: none;
}

.main-content {
    margin-top: 30px;
}

.second-menu {
    margin-top: 20px;
}



.sticky-container {
    min-height: calc(100vh - 57px);
}

.full-width {
    max-width: 100%;
}

@media screen and (min-width: 64em){
.large-10 
    {
    width: 83.33333%;
    margin: 0 5rem;
}
}